<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995357910311-5iefr3f5jt5sa1vc4cbohq45a4pkfn5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995357910311-5iefr3f5jt5sa1vc4cbohq45a4pkfn5m</string>
	<key>API_KEY</key>
	<string>AIzaSyCpy3YCZsr_yFWyvU4B3sevCuXsGiWEJRA</string>
	<key>GCM_SENDER_ID</key>
	<string>995357910311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokTokApp</string>
	<key>PROJECT_ID</key>
	<string>toktok-44902</string>
	<key>STORAGE_BUCKET</key>
	<string>toktok-44902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995357910311:ios:e35068f56cf68128ea7502</string>
</dict>
</plist>